*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
}

nav{
    width: 100%;
    text-align: end;
    padding: 15px;
}

nav span{
    margin-right: 10px;
}

header{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content_main{
    width: 50%;
    padding: 20px;
}

main .content_main .formulario{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .content_main .formulario .detalles_pregunta{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

main .content_main .formulario .detalles_pregunta .titulo_pregunta{
    width: 90%;
    padding: 3px;
    font-weight: bolder;
}

main .content_main .formulario .detalles_pregunta .respuestas{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

main .content_main .formulario .detalles_pregunta .respuestas .respuesta{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

main .content_main .formulario .detalles_pregunta .respuestas .respuesta input{
    margin-right: 5px;
}

.btn{
    cursor: pointer;
    font-size: medium;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 10px;
}

.btn:hover{
    background: green;
    color: greenyellow;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
}

footer .content_footer{
    display: flex;
    align-items: center;
}

footer .content_footer .img_marca img{
    width: 60px;
}

footer .content_footer .derechos{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: bolder;
}